
.mvo-waiting {
	background: none;
	z-index: 1000;
}
.mvo-center {
	border: 3px solid #aaa;
	background-color: #eee;
	padding: 20px;
}
.mvo-center .sc-image-view {
	-moz-border-radius: 1px 1px 1px 1px;
	-moz-box-shadow: 2px 2px 4px #CCCCCC;
	-webkit-border-radius: 1px 1px 1px 1px;
	-webkit-box-shadow: 2px 2px 4px #CCCCCC;
	border: 1px solid #CCCCCC;
}
